[Interface]
PrivateKey = {{ client.private_key }}
Address = {{ client.address.ipv4 }}/32
{%- if client.address.ipv6 is defined %}Address = {{ client.address.ipv6 }}/128{% endif %}
ListenPort = {{ listen_port }}
DNS = {{ dns_server }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_address }}:{{ listen_port }}
AllowedIPs = 0.0.0.0/0
