########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

[Interface]
Address = {{ server.address.ipv4 }}
{% if server.address.ipv6 is defined %}
Address = {{ server.address.ipv6 }}
{% endif -%}
{% if server.save_config is defined %}
    {% if server.save_config == True %}
SaveConfig = true
    {% endif %}
{% endif %}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ server.interface_name }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ server.interface_name }} -j MASQUERADE
ListenPort = {{ listen_port }}
PrivateKey = {{ server.private_key }}

{%- for client, data in clients.items() %}
[Peer]
# {{ client }}
PublicKey = {{ data.public_key }}
AllowedIPs = {{ data.address.ipv4 }}/32
{% endfor -%}
